body{
  background: radial-gradient(circle at top left, #ff0000, #ffff00);
  }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
  .card img {
  width: 350px;
  border-radius: 5%;
  margin-bottom: 35px;
  }
  .card h2{
    font-size: 2rem;
  }
  .card form {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .card input {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  }
  
  /* character */
  .card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 100%;
    /* background-color: #ff0000bc; */
    }
    
    .cont__img {
    margin: 0 auto;
    text-align: center;
    /* background-color: #fff; */
    background: radial-gradient(circle at top left, #1100ff8f, #40ff00c3);
    width: 250px;
    border: 4px solid #000;
    padding-bottom: 1em;
    margin: 1em;
    border-radius: 2%;
    }
    
    img {
    width: 100%;
    }
    
    .cont__caracteristicas {
      display:flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      /* background-color: green; */
    }
    
    .cont__caracteristicas__indi {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
      padding: 0;
    /* background-color: pink; */
    }
    .cont__caracteristicas__indi h3, p {
    margin: 0 30px;
    }
    .titulo{
      /* background-color: yellow; */
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }

    .pokedex {
      display: flex;
      justify-content: center;
      align-items: center;
      /* background-color: #F5A623; color naranja */
    }
    .titulo input{
      border: none;
      border-radius: 6px;
      margin-bottom: 20px;

    }
    .titulo button, .select{
      border: none;
      border-radius: 6px;
      margin-bottom: 20px;
    }
   /* detail */
   .container__ball{
    width: 100%;
    height: 660px;
    
    
   }
   .pokeball{display: flex;
    justify-content: center;
    align-items: center;
  }
   .pokeball img{
    margin-top: 20%;
    width:50%;
   }
  .pokemon__detail{
    width: 95%;    
    display: block;
    text-align: center;
    justify-content: center;
    text-align: center;
    /* background-color: #fff; */
  }
  .pokemon__detail img{
    width: 20em;
    
  }
  .pokemon__detail p{
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .detail__container{
    display: flex;
    text-align: center;
    justify-content:space-between;
    text-align: center;
   
  }
  .detail{
    margin: 0 5em;
    font-size: 1.5em;
  }
  .detail label{
    margin: 1em;
 
  }
  .movements{
    /* background-color: #fff; */
    margin: 2em 5em;
    padding-bottom: 2em;
    font-size: 1.5em;
    display: flex;
    text-align: center;
    justify-content:center;
    text-align: center;
    flex-wrap: wrap;

  }

.movements h2{
  margin: 0 15em;
}


